body {
    font-family:Helvetica, Arial;
    background-color:#9400D3;
    margin: 0;
    padding: 0;
    
}
header{
    float:left;
    background-color:black;
    width:100%;
    height:30%;
}
#logo{
    float:left;
    height:90%;
    width:15%;
}
nav{
    float:right;
    padding:20px;
}
.menu{
    width:100%;
    height:30%;
    
}
ul{
    display:inline-block;
    float:left;
    padding:10px;
    }
li{
    display:inline-block;
    float:left;
    padding:10px;
}
a{
    color:whitesmoke;
    text-decoration:none;
    font-weight:bold;
}
a:hover{
    color:#ff6a7f;
    background:#6340ff;
    padding:20px 5px;
}
#conteudo h1{
    text-align: center;
    margin-top: 60px;
}
h1{
    color:white;
    float: center ;
}
h2{
    text-align:center;
    color:white;
}
p{
    color:white;
}
.emocional{
    display:flex;
    justify-content:center;
    align-items:center;
}

#tituloprincipal{
    margin-top: 90px;
    color:whitesmoke;
    font-size:1.5em;
    margin: 230px 0 0 0;
    
}
.video1{
    
    width:90%;
    height:65%;
}
.video2{
    
    width:90%;
    height:40%;
}


.imagem1{
    display:flex;
    justify-content:center;
    align-items:center;
}


footer{
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
        clear:both;
}
 #nav-footer{
     width:100%;
     height:30%;
 }

.div-imagem1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.montanha{
    display:flex;
    justify-content:center;
    align-items:center;
}
.livro1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.livro2{
    display:flex;
    justify-content:center;
    align-items:center;
}
.livro3{
    display:flex;
    justify-content:center;
    align-items:center;
}
.livro4{
    display:flex;
    justify-content:center;
    align-items:center;
}
.livro5{
    display:flex;
    justify-content:center;
    align-items:center;
}
.instagram{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.contato{
    display:flex;
    justify-content:center;
    align-items:center;
    
}

    


#legenda{
    font-weight:bold;
    padding:4px;
}

fieldset{
    width:300px;
    height:250px;
}

#link1{
    display:flex;
    justify-content:center;
    align-items:center;
    color:blue;
    padding:10px;
}
.link1{
   
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    width: 50%;
    
    
}
.texto3{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.video1{
    width:70%;
    height:30%;
}
input[type=text], input[type="email"], input[type="number"], 
textarea{
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #CCC;
 border-radius: 12px;
 box-sizing: border-box;
}


button{
 background-color: #111010;
 border: none;
 color: white;
 padding: 15px 32px;
 margin-bottom: 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border-radius: 12px;
}
